*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav li{
    margin: 0px 10px;
}
.navbar-brand{
    margin-left: 20px;
    font-size: 30px;
    padding: 5px;
}
.navbar a{
    color: white;
}

.col1 h3{
    font-size: 60px;
}
.mynames{
    font-family: sans-serif;
    color: blue;
    font-size: 1.4em;
}
.pic{
    width: 600px;
}
.pic img{
    width: 100%;
}
.nav-pills .nav-link.active {
    font-weight: 700;
    color: white;
    background-color: red; 
    border-radius: 15px;
}
.card{
    height: 280px;
    transition: 0.2s;
    box-shadow: 2px 2px 20px 1px gray;
}
.card:hover{
    scale: 1.05;
    translate: 0px -30px;
}
.pro{
    color: blue;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.pro h3{
    font-size: 40px;
}