*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav li{
    margin: 0px 10px;
}
.navbar-brand{
    font-size: 30px;
    padding: 5px;
}
.navbar a{
    color: white;
}

.col1 h3{
    font-size: 60px;
}
.mynames{
    font-family: sans-serif;
    color: blue;
    font-size: 1.4em;
}
.pic{
    width: 600px;
}
.pic img{
    width: 100%;
}